* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--font-family);
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

svg,
img {
  cursor: pointer;
}

.gradient-bg {
  background: radial-gradient(
    circle at 3% 25%,
    rgb(0, 40, 83) 0%,
    rgba(4, 12, 24, 1) 75%
  );
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_padding {
  padding: 4rem 6rem;
}

.section_margin {
  margin: 4rem 6rem;
}

.scale-up-center {
  animation: scale-up-center 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section_padding {
    padding: 4rem;
  }

  .section_margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section_padding {
    padding: 4rem 2rem;
  }

  .section_margin {
    margin: 4rem 2rem;
  }
}
